[submodule "packages/contracts/lib/properties"]
	path = packages/contracts/lib/properties
	url = https://github.com/crytic/properties
[submodule "packages/contracts/lib/openzeppelin-contracts"]
	path = packages/contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
